* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* Prevent horizontal scroll */
    overflow-x: hidden;
    max-width: 100vw;
}

/* no scroll bar vertically */
html {
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    max-width: 100vw;
}

.div {
    height: 100%;
    text-align: center;
}

/* no scroll bar vertically */
.root{
    height: calc(var(--vh) * 100);
}

.but button {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
    border: 0.1rem solid white;
    margin-top: 0.5rem;
}

.counter {
    color: white;
    border: 0.2rem solid white;
    padding: 0.8rem;
    text-align: center;
    padding-bottom: 2rem;
}

.counter button {
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}